* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	font-family: monospace;
}

.container {
	/* border: 1px solid blue; */
	height: 100vh;
	margin: 0 auto;
	
	background: url(avatar-louco.jpg) no-repeat bottom right;
	background-size: contain;
}

/* header */

header {
	/* border: 1px solid blue; */
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header > a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 16px;
	padding: 6px;
	transition: 0.4s;
}

.header > a:hover {
	color: #0e8a5f;
}

span.me {
	font-size: 20px;
	color: #0e8a5f;

}

/* content */

section.main {
	/* border: 1px solid red; */
	height: 93.1%;
}

.card{
	border: 1px solid  #0e8a5f;
	background-color: #fff;
	width: 480px;
	position: absolute;
	padding: 10px 20px;
	transform: translate(30px, 300px);
	box-shadow: rgba(0,0,0,0.4) 10px 8px 10px;
}

div.card > h1 {
	font-size: 26px;
}
div.card > h3 {
	font-size: 18px;
	font-weight: 300;
}


button.card-btn {
	border: none;
	padding: 10px;
	width: 80px;
	background-color: #0e8a5f;
	margin-top: 10px;
	border-radius: 18px;
	outline: none;
	transition: 0.4s;
}

button.card-btn:hover {
	background-color: #0d573d;
	cursor: pointer;
}

button > a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

a.selected {
	color: #0e8a5f
}